.container {
    width: 100%; 
    margin: 0 auto; 
}

.product-form {
    padding: 20px;
    background-color: #ffe5e5;
    margin: 20px auto;
    width: 90%;
    border: 2px solid black;
    overflow: hidden;
}

.product-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
}

.stock-field {
    display: flex;
    flex-direction: column;
}

.product-list {
    width: 90%;
    margin: 20px auto;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.product-item img {
    width: 100px;
    height: 100px;
}

.btn-remove {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.btn-remove:hover {
    background-color: #f0f0f0; 
    color: black; 
    text-decoration: none;
}

.separatorVertical {
    width: 1px; 
    background-color: #ccc;
    height: 50px; 
    display: inline-block; 
    margin: 0 10px; 
}

.stock-item {
    text-align: center;
}

.stock-list {
    display: flex;
    flex-direction: column; 
    margin-top: 10px; 
}

.stock-list p {
    margin: 0;
}

.stocks2 {
    display: none;
}

.stocks {
    display: flex;                
    justify-content: center;     
    align-items: center;          
    height: 100%;           
    margin-top: 2rem;     
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
