.product-form {
    padding: 20px;
    background-color: #ffe5e5;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
    border: 2px solid black;
    overflow: hidden;
}

.product-fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 10px;
}

.stock-field {
    display: flex;
    flex-direction: column;
}

.product-list {
    width: 80%;
    margin: 20px auto;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.product-item img {
    width: 100px;
    height: 100px;
}

.btn-remove {
    background-color: white; /* Couleur de fond blanche */
    border: 2px solid black; /* Bordure noire */
    color: black; /* Couleur du texte noire */
    padding: 10px 15px; /* Ajoute du padding pour un meilleur rendu */
    text-align: center; /* Centre le texte */
    text-decoration: none; /* Supprime le soulignement */
    display: inline-block; /* Permet au bouton d'être en ligne avec d'autres éléments */
    border-radius: 5px; /* Arrondit les coins */
    margin-top: 10px; /* Espace au-dessus */
    cursor: pointer; /* Change le curseur au survol */
}

.btn-remove:hover {
    background-color: #f0f0f0; 
    color: black; 
    text-decoration: none;
}

.separatorVertical {
    width: 1px; /* Largeur de la ligne de séparation */
    background-color: #ccc; /* Couleur de la ligne de séparation */
    height: 50px; /* Hauteur de la ligne de séparation */
    display: inline-block; /* Pour s'afficher dans la même ligne */
    margin: 0 10px; /* Espace autour de la ligne de séparation */
}

.stock-list {
    display: flex;
    flex-direction: column; /* Assure que les stocks s'affichent en colonne */
    margin-top: 10px; /* Ajoute un peu d'espace au-dessus de la liste des stocks */
}

.stock-list p {
    margin: 0; /* Enlève les marges par défaut des paragraphes pour un meilleur alignement */
}
