header {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex; /* Utiliser flex pour aligner les éléments */
    align-items: flex-start;
}

.logo-container {
    display: flex;
    flex-direction: column; /* Aligne l'image et le slogan en colonne */
    align-items: flex-start; /* Aligne à gauche */
    margin-right: auto; /* Ajoute de l'espace à droite pour le menu */
}

.logo {
    height: 120px;
}

nav {
    display: flex; /* Utiliser flex pour le menu */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Enlever la marge pour un alignement parfait */
}

nav ul li {
    display: inline;
    margin-left: 20px; /* Pour espacer les éléments du menu */
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.active {
    font-weight: bold; /* Met le texte en gras pour l'élément actif */
    color: black; /* Change la couleur si tu le souhaites */
    text-decoration: underline;
}

.slogan {
    text-align: left; /* Aligne le texte à gauche */
    font-size: 1.2em; /* Taille de la police */
    color: #555; /* Couleur du texte */
    margin-top: -5px; /* Espace au-dessus et en dessous du slogan */
}
