.presentation {
    width: 80%;                   
    margin: 0 auto;              
    padding: 20px;               
    background-color: #f9f9f9;  
    border-radius: 5px;      
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.presentation h1 {
    font-size: 2.5rem;           
    color: #333;                 
}

.presentation h2 {
    font-size: 2rem;             
    color: #555;                 
    margin-top: 20px;           
}

.presentation p {
    font-size: 1rem;             
    color: #666;               
    line-height: 1.5;            
    margin-top: 10px;            
}


.product-image {
    margin-bottom: 15px; 
}

.product-name {
    font-size: 1.2em; 
    margin: 0; 
}

.product-price {
    font-size: 1em; 
    color: #555; 
    margin: 5px 0; 
}

.btn-primary {
    margin-left: auto; 
}
