.product-list {
    width: 80%;
    margin: 20px auto;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.product-item img {
    width: 100px;
    height: 100px;
}

.total-container {
    text-align: right;
    margin-top: 20px;
}

.button-finalize {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.total-container {
    text-align: right;
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: flex-end; 
}

.button-finalize,
.btn-continue {
    margin-top: 10px; 
    width: 25%;
}

.btn-success {
    background-color: #dd8b8b;
    color: #000; 
    border: 2px solid #9e6262; 
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    margin-top: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.btn-success:hover {
    background-color: #9e6262; 
}

.btn-continue {
    background-color: #a8e6cf; 
    color: #000; 
    border: 2px solid #6a9686; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    margin-top: 10px; 
    cursor: pointer; 
    border-radius: 5px; 
}

.btn-continue:hover {
    background-color: #6a9686; 
}

.total-box {
    background-color: white; 
    border: 3px solid #000; 
    padding: 10px;
    margin-right: 20px; 
    flex-grow: 1;
    color: black;
}

.btn-remove {
    background-color: white;
    border: 2px solid black; 
    color: black;
    padding: 10px 15px; 
    text-align: center; 
    text-decoration: none;
    display: inline-block; 
    border-radius: 5px; 
    margin-top: 10px; 
    cursor: pointer; 
}

.btn-remove:hover {
    background-color: #f0f0f0; 
    color: black; 
    text-decoration: none;
}



