.back-button {
    margin-top: 20px; 
}

.back-button a {
    text-decoration: none;
    color: white;
    background-color: #007bff; 
    padding: 10px 20px; 
    border-radius: 5px;
    transition: background-color 0.3s; 
}

.back-button a:hover {
    background-color: #0056b3; 
}

.product-edit-form {
    max-width: 80%; 
}

#image-preview {
    border: 1px solid #ccc;
    border-radius: 5px; 
    background-color: #f8f9fa; 
    padding: 5px; 
}

.size-field + label::after {
    content: attr(value); 
    display: inline-block;
    font-weight: normal;
    color: #f8f9fa;
}

.checkbox-label {
    flex: 2;
    margin-right: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.checkbox-input {
    align-self: flex-end;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form-control {
    max-width: 80%;
    margin-left: 1rem;
    text-align: center;
}

.stock-item {
    gap: 1rem;
}

.stocks {
    display: flex;               
    justify-content: center;      
    align-items: center;          
    height: 100%;                
}

.stocks2 {
    display: none;
}

label[for^="product_stocks_"] {
    display: none;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
